/bin
/lib
/source 0701
/source xy
/sourceTY-DianWeiQi
/source/app
/source/cinterface
/source/collision
/source/component
/source/console
/source/core
/source/environment
/source/forest
/source/gfx
/source/gui
/source/i18n
/source/interior
/source/lighting
/source/main
/source/materials
/source/math
/source/platform
/source/platformMac
/source/platformPOSIX
/source/platformX86UNIX
/source/postFx
/source/renderInstance
/source/scene
/source/sfx
/source/sfx  old
/source/sfxty
/source/shaderGen
/source/sim
/source/T3D/decal
/source/T3D/examples
/source/T3D/fx
/source/T3D/gameBase
/source/T3D/physics
/source/T3D/sfx
/source/T3D/turret
/source/T3D/vehicles
/source/T3D/sceneComponent
/source/T3D/*.h
/source/T3D/*.cpp
/source/terrain
/source/ts
/source/unit
/source/util
/source/windowManager
/source/platformWin32/pcvr-shuangRenGuangQiang
/source/*.txt
/source/*.scc
*.scc
*.asm
*.bat
*.icns
*.l
*.mm
*.nib
*.png
*.txt
*.simple
*.y